<div id="header">
    <h1><font size="4">Please enter valid word</font></h1>
    <hr />
</div>
<html>
  <head>
    <title>Not valid word</title>
    <style>
    html {
        font-family: "Arial";
        background: white;
    }
    body {
        background: lightgrey;
        max-width: 900px;
        margin: 0 auto;
    }
    #header {
        padding-top: 5;
        background: lightsteelblue;
    }
    #inner-header {
        padding-left: 10;
    }
    #main{
        padding-left: 10;
    }
    </style>
  </head>