<div id="header">
    <h1><font size="4">Thank you</font></h1>
    <hr />
</div>
<html>
  <head>
    <title>{{ title }} - Welcome </title>
    <style>
    html {
        font-family: "Arial";
        background: white;
    }
    body {
        background: lightgrey;
        max-width: 900px;
        margin: 0 auto;
    }
    #header {
        padding-top: 5;
        background: lightsteelblue;
    }
    #inner-header {
        padding-left: 10;
    }
    #main{
        padding-left: 10;
    }
    </style>
  </head>
  <body>
      <h1><font size="3">This is anagrams for your word: {{input_word}}. We have total {{ana_dups}} anagrams, after removing duplicates.  </font></h1>
      <form action="/" method="POST" name="output_form"></form>
      <h1><font size="2">{{ output_html['output_cell'] }}</font></h1>
  </body>
</html


